#cloud-config
network:
  version: 1
  config:
  - type: physical
    name: enp1s0
    subnets:
      - type: dhcp
        gateway: 10.10.10.1
        dns_nameservers:
          - 10.10.10.10
          - 10.10.10.11
          - 10.10.10.12
        dns_search:
          - ISZLAND.COM
    accept-ra: false
    ipv6: false
